<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ua.com.jujaWebApp.controller.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/sqlwebapp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConnectionServlet</servlet-name>
        <servlet-class>ua.com.jujaWebApp.controller.ConnectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionServlet</servlet-name>
        <url-pattern>/connection</url-pattern>
    </servlet-mapping>
</web-app>